<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <header>
            <img src="https://play-lh.googleusercontent.com/zoyAL6BWpiHrgyFEujQcEXhBqZn4SfX0JiIFqOecs2JoZYy39Yam8xiz7Vq6kP7S2w">
        </header>
        <nav>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </nav>
        <main>
            <section>
                <h3>First Project</h3>
                <p>I build small application to manage books</p>
            </section>
        
        </main>
        <footer>

        </footer>
    </body>
</html>