{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"  href="{% static '/css/base.css' %}">
    </head>
    <body>
        <header>
            <img src="">
            <p>Hello, {{username}}<a href="{% url 'logout' %}">Logout</a></p>
        </header>
        <nav>
            <ul>
                <li><a>Dashboard</a></li>
                <li><a>About</a></li>
            </ul>
        </nav>
        <main>
            <article>
                <h2>{{message}}</h2>
            </article>
        
        </main>
        <footer>
            <h1>this is footer</h1>
        </footer>
    </body>
</html>