{% extends 'base.html' %}

<div class="card-group">
    <div class="card">
        <div class="card-body">
            <button type="button" class="btn btn-outline-success"><h5 class="card-title"><a class="nav-link" href="{% url 'quran'%}">Quran</a></h5></button>
            <p class="card-text"><small class="text-muted">Last visit 3 mins ago</small></p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <button type="button" class="btn btn-outline-warning"><h5 class="card-title">Education</h5></button>
            <p class="card-text"><small class="text-muted">Last visit 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <button type="button" class="btn btn-outline-danger"><h5 class="card-title">Work</h5></button>
            <p class="card-text"><small class="text-muted">Last visit 3 mins ago</small></p>
        </div>
    </div>
</div>