<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1>Login</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <br>
                {{field.username}}
                {{field}}
            </div>
            <div class="col">
                <br>
                {{field.password}}
                {{field}}
            </div>
        </div>
        <input type="submit" value="Continue">
    </form>
</body>
</html>