<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1>Login</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" value="Username" name="username" placeholder="Username">
        <input type="password" value="Password" name="password" placeholder="Password">
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
        <input type="submit" value="Continue">
        {{context}}
    </form>
</body>
</html>